.levelup-container {
    position: relative;
    padding-left: 2em;
    padding-right: 2em;
}
.screen-reader-text, .screen-reader-text span {
  position: absolute;
    top: -10000em;
    width: 1px; 
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

/*************************
Header Options css
*************************/
.levelup-container{
    padding: 0px 25px;
    width: 100%;
    display: inline-block;
    color: #fff;
}
[class~="levelup-grid"],
[class*="levelup-grid-"],
[class*="levelup-grid_"] {
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  margin: 0 -1em;
}
[class~="levelup-col"],
[class*="levelup-col-"],
[class*="levelup-col_"] {
  box-sizing: border-box;
  padding: 0 1em 0;
  max-width: 100%;
}
[class~="levelup-col"],
[class*="levelup-col_"] {
    flex: 1 1 0%;
}
[class*="levelup-col-"] {
    flex: none;
}
[class~="levelup-grid"][class~="levelup-col"],
[class~="levelup-grid"][class*="levelup-col-"],
[class~="levelup-grid"][class*="levelup-col_"],
[class*="levelup-grid-"][class~="levelup-col"],
[class*="levelup-grid-"][class*="levelup-col-"],
[class*="levelup-grid-"][class*="levelup-col_"],
[class*="levelup-grid_"][class~="levelup-col"],
[class*="levelup-grid_"][class*="levelup-col-"],
[class*="levelup-grid_"][class*="levelup-col_"] {
  margin: 0;
  padding: 0;
}

/************************
    HELPERS SUFFIXES
*************************/
[class*="levelup-grid-"][class*="-noGutter"] {
  margin: 0;
}
[class*="levelup-grid-"][class*="-noGutter"] > [class~="levelup-col"],
[class*="levelup-grid-"][class*="-noGutter"] > [class*="levelup-col-"] {
  padding: 0;
}
[class*="levelup-grid-"][class*="-noWrap"] {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
[class*="levelup-grid-"][class*="-center"] {
          justify-content: center;
}
[class*="levelup-grid-"][class*="-right"] {
    justify-content: flex-end;
    align-self: flex-end;
    margin-left: auto;
}
[class*="levelup-grid-"][class*="-top"] {
    align-items: flex-start;
}
[class*="levelup-grid-"][class*="-middle"] {
    align-items: center;
}
[class*="levelup-grid-"][class*="-bottom"] {
    align-items: flex-end;
}
[class*="levelup-grid-"][class*="-reverse"] {
    flex-direction: row-reverse;
}
[class*="levelup-grid-"][class*="-column"] {
    flex-direction: column;
}
[class*="levelup-grid-"][class*="-column"] > [class*="levelup-col-"] {
    flex-basis: auto;
}
[class*="levelup-grid-"][class*="-column-reverse"] {
    flex-direction: column-reverse;
}
[class*="levelup-grid-"][class*="-spaceBetween"] {
    justify-content: space-between;
}
[class*="levelup-grid-"][class*="-spaceAround"] {
    justify-content: space-around;
}
[class*="levelup-grid-"][class*="-equalHeight"] > [class~="levelup-col"], [class*="levelup-grid-"][class*="-equalHeight"] > [class*="levelup-col-"], [class*="levelup-grid-"][class*="-equalHeight"] > [class*="levelup-col_"] {
    align-self: stretch;
}
[class*="levelup-grid-"][class*="-equalHeight"] > [class~="levelup-col"] > *, [class*="levelup-grid-"][class*="-equalHeight"] > [class*="levelup-col-"] > *, [class*="levelup-grid-"][class*="-equalHeight"] > [class*="levelup-col_"] > * {
    height: 100%;
}
[class*="levelup-grid-"][class*="-noBottom"] > [class~="levelup-col"], [class*="levelup-grid-"][class*="-noBottom"] > [class*="levelup-col-"], [class*="levelup-grid-"][class*="-noBottom"] > [class*="levelup-col_"] {
    padding-bottom: 0;
}
[class*="levelup-col-"][class*="-top"] {
    align-self: flex-start;
}
[class*="levelup-col-"][class*="-middle"] {
    align-self: center;
}
[class*="levelup-col-"][class*="-bottom"] {
    align-self: flex-end;
}
[class*="levelup-col-"][class*="-first"] {
    order: -1;
}
[class*="levelup-col-"][class*="-last"] {
    order: 1;
}

/************************
    COLS SIZES
*************************/
[class~="levelup-grid"] > [class*="levelup-col-1"],
[class*="levelup-grid-"] > [class*="levelup-col-1"],
[class*="levelup-grid_"] > [class*="levelup-col-1"] {
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
}
[class~="levelup-grid"] > [class*="levelup-col-2"],
[class*="levelup-grid-"] > [class*="levelup-col-2"],
[class*="levelup-grid_"] > [class*="levelup-col-2"] {
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
}
[class~="levelup-grid"] > [class*="levelup-col-3"],
[class*="levelup-grid-"] > [class*="levelup-col-3"],
[class*="levelup-grid_"] > [class*="levelup-col-3"] {
    flex-basis: 25%;
    max-width: 25%;
}
[class~="levelup-grid"] > [class*="levelup-col-4"],
[class*="levelup-grid-"] > [class*="levelup-col-4"],
[class*="levelup-grid_"] > [class*="levelup-col-4"] {
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
}
[class~="levelup-grid"] > [class*="levelup-col-5"],
[class*="levelup-grid-"] > [class*="levelup-col-5"],
[class*="levelup-grid_"] > [class*="levelup-col-5"] {
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
}
[class~="levelup-grid"] > [class*="levelup-col-6"],
[class*="levelup-grid-"] > [class*="levelup-col-6"],
[class*="levelup-grid_"] > [class*="levelup-col-6"] {
    flex-basis: 50%;
    max-width: 50%;
}
[class~="levelup-grid"] > [class*="levelup-col-7"],
[class*="levelup-grid-"] > [class*="levelup-col-7"],
[class*="levelup-grid_"] > [class*="levelup-col-7"] {
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
}
[class~="levelup-grid"] > [class*="levelup-col-8"],
[class*="levelup-grid-"] > [class*="levelup-col-8"],
[class*="levelup-grid_"] > [class*="levelup-col-8"] {
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
}
[class~="levelup-grid"] > [class*="levelup-col-9"],
[class*="levelup-grid-"] > [class*="levelup-col-9"],
[class*="levelup-grid_"] > [class*="levelup-col-9"] {
    flex-basis: 75%;
    max-width: 75%;
}
[class~="levelup-grid"] > [class*="levelup-col-10"],
[class*="levelup-grid-"] > [class*="levelup-col-10"],
[class*="levelup-grid_"] > [class*="levelup-col-10"] {
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
}
[class~="levelup-grid"] > [class*="levelup-col-11"],
[class*="levelup-grid-"] > [class*="levelup-col-11"],
[class*="levelup-grid_"] > [class*="levelup-col-11"] {
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
}
[class~="levelup-grid"] > [class*="levelup-col-12"],
[class*="levelup-grid-"] > [class*="levelup-col-12"],
[class*="levelup-grid_"] > [class*="levelup-col-12"] {
    flex-basis: 100%;
    max-width: 100%;
}

[class~="levelup-grid"] > [data-push-left*="off-0"],
[class*="levelup-grid-"] > [data-push-left*="off-0"],
[class*="levelup-grid_"] > [data-push-left*="off-0"] {
  margin-left: 0;
}
[class~="levelup-grid"] > [data-push-left*="off-1"],
[class*="levelup-grid-"] > [data-push-left*="off-1"],
[class*="levelup-grid_"] > [data-push-left*="off-1"] {
  margin-left: 8.3333333333%;
}
[class~="levelup-grid"] > [data-push-left*="off-2"],
[class*="levelup-grid-"] > [data-push-left*="off-2"],
[class*="levelup-grid_"] > [data-push-left*="off-2"] {
  margin-left: 16.6666666667%;
}
[class~="levelup-grid"] > [data-push-left*="off-3"],
[class*="levelup-grid-"] > [data-push-left*="off-3"],
[class*="levelup-grid_"] > [data-push-left*="off-3"] {
  margin-left: 25%;
}
[class~="levelup-grid"] > [data-push-left*="off-4"],
[class*="levelup-grid-"] > [data-push-left*="off-4"],
[class*="levelup-grid_"] > [data-push-left*="off-4"] {
  margin-left: 33.3333333333%;
}
[class~="levelup-grid"] > [data-push-left*="off-5"],
[class*="levelup-grid-"] > [data-push-left*="off-5"],
[class*="levelup-grid_"] > [data-push-left*="off-5"] {
  margin-left: 41.6666666667%;
}
[class~="levelup-grid"] > [data-push-left*="off-6"],
[class*="levelup-grid-"] > [data-push-left*="off-6"],
[class*="levelup-grid_"] > [data-push-left*="off-6"] {
  margin-left: 50%;
}
[class~="levelup-grid"] > [data-push-left*="off-7"],
[class*="levelup-grid-"] > [data-push-left*="off-7"],
[class*="levelup-grid_"] > [data-push-left*="off-7"] {
  margin-left: 58.3333333333%;
}
[class~="levelup-grid"] > [data-push-left*="off-8"],
[class*="levelup-grid-"] > [data-push-left*="off-8"],
[class*="levelup-grid_"] > [data-push-left*="off-8"] {
  margin-left: 66.6666666667%;
}
[class~="levelup-grid"] > [data-push-left*="off-9"],
[class*="levelup-grid-"] > [data-push-left*="off-9"],
[class*="levelup-grid_"] > [data-push-left*="off-9"] {
  margin-left: 75%;
}
[class~="levelup-grid"] > [data-push-left*="off-10"],
[class*="levelup-grid-"] > [data-push-left*="off-10"],
[class*="levelup-grid_"] > [data-push-left*="off-10"] {
  margin-left: 83.3333333333%;
}
[class~="levelup-grid"] > [data-push-left*="off-11"],
[class*="levelup-grid-"] > [data-push-left*="off-11"],
[class*="levelup-grid_"] > [data-push-left*="off-11"] {
  margin-left: 91.6666666667%;
}
[class~="levelup-grid"] > [data-push-right*="off-0"],
[class*="levelup-grid-"] > [data-push-right*="off-0"],
[class*="levelup-grid_"] > [data-push-right*="off-0"] {
  margin-right: 0;
}
[class~="levelup-grid"] > [data-push-right*="off-1"],
[class*="levelup-grid-"] > [data-push-right*="off-1"],
[class*="levelup-grid_"] > [data-push-right*="off-1"] {
  margin-right: 8.3333333333%;
}
[class~="levelup-grid"] > [data-push-right*="off-2"],
[class*="levelup-grid-"] > [data-push-right*="off-2"],
[class*="levelup-grid_"] > [data-push-right*="off-2"] {
  margin-right: 16.6666666667%;
}
[class~="levelup-grid"] > [data-push-right*="off-3"],
[class*="levelup-grid-"] > [data-push-right*="off-3"],
[class*="levelup-grid_"] > [data-push-right*="off-3"] {
  margin-right: 25%;
}
[class~="levelup-grid"] > [data-push-right*="off-4"],
[class*="levelup-grid-"] > [data-push-right*="off-4"],
[class*="levelup-grid_"] > [data-push-right*="off-4"] {
  margin-right: 33.3333333333%;
}
[class~="levelup-grid"] > [data-push-right*="off-5"],
[class*="levelup-grid-"] > [data-push-right*="off-5"],
[class*="levelup-grid_"] > [data-push-right*="off-5"] {
  margin-right: 41.6666666667%;
}
[class~="levelup-grid"] > [data-push-right*="off-6"],
[class*="levelup-grid-"] > [data-push-right*="off-6"],
[class*="levelup-grid_"] > [data-push-right*="off-6"] {
  margin-right: 50%;
}
[class~="levelup-grid"] > [data-push-right*="off-7"],
[class*="levelup-grid-"] > [data-push-right*="off-7"],
[class*="levelup-grid_"] > [data-push-right*="off-7"] {
  margin-right: 58.3333333333%;
}
[class~="levelup-grid"] > [data-push-right*="off-8"],
[class*="levelup-grid-"] > [data-push-right*="off-8"],
[class*="levelup-grid_"] > [data-push-right*="off-8"] {
  margin-right: 66.6666666667%;
}
[class~="levelup-grid"] > [data-push-right*="off-9"],
[class*="levelup-grid-"] > [data-push-right*="off-9"],
[class*="levelup-grid_"] > [data-push-right*="off-9"] {
  margin-right: 75%;
}
[class~="levelup-grid"] > [data-push-right*="off-10"],
[class*="levelup-grid-"] > [data-push-right*="off-10"],
[class*="levelup-grid_"] > [data-push-right*="off-10"] {
  margin-right: 83.3333333333%;
}
[class~="levelup-grid"] > [data-push-right*="off-11"],
[class*="levelup-grid-"] > [data-push-right*="off-11"],
[class*="levelup-grid_"] > [data-push-right*="off-11"] {
  margin-right: 91.6666666667%;
}


/************************
   Responsive CSS
*************************/
@media screen and (min-width: 769px) {
  .hide-on-desktop,
  .levelup-grid .hide-on-desktop {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .hide-on-tablet,
  .levelup-grid .hide-on-tablet {
    display: none;
  }
}