.levelup_option_header span{
    font-size: 12px;
    background: #fff;
    border-radius: 10px;
    padding: 2px 6px;
    color: #555;
    position: relative;
    top: -3px;
    left: 7px;
}
.levelup_dashboard{
    max-width: 899px;
}
.levelup_dashboard_left{
    float: left;
    width: 40%;
}
.levelup_dashboard h2, .levelup_import_screen h2,.levelup_tools_heading, .levelup_support_div h2 {
    margin-bottom: 20px;
    font-size: 24px;
}
.levelup_dashboard h4 {
    margin-bottom: 10px;
}
.levelup_dashboard_left iframe{
    max-width: 100%;
    width:100%
}
.levelup_dashboard_right{
    float: right;
    width: 50%; 
}
.levelup_dashboard_left_sub a{
    width:100%
}
.levelup_dashboard_left_sub ul{
    list-style-type: disc;
    list-style-position: inside;
}
.levelup_action{
    background: #FFEB3B;
    padding: 2px 4px;
    font-size: 12px;
    border-radius: 5px;
    font-weight: normal;
}
.levelup-nav{
    height: 35px;
}
.levelup_options{
    margin-top: 20px;
    max-width: 800px;
}
.levelup_options h2{
    font-size: 15px;
    font-weight: 500;
    padding: 10px 15px;
    margin: 0px 0 0 0;
}
.levelup_options_container li{
    padding: 6px 22px;
    width: 220px;
    display: inline-flex;
}
.levelup_options_container li a{
    text-decoration: none;
    line-height: 19px;
    padding-left: 4px;
}